:root {
  --bg: rgb(255, 255, 255);
  --prm: rgb(0, 5, 31);
  --prmt: rgba(0, 5, 31, 0.5);
  --scd: rgb(0, 121, 190);
  --scdt: rgba(0, 121, 190, 0.9);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: var(--prm);
}
html {
  scroll-behavior: smooth;
  background-color: var(--bg);
}

/* Navbar */
nav {
  position: fixed;
  border-bottom: 1px solid var(--prm);
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;
  margin: auto;
  background-color: var(--bg);
  display: flex;
  align-items: center;
}

nav .container {
  margin: 0.5rem 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav a.brand {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--prm);
  font-family: "Rajdhani", sans-serif;
}

nav ul {
  position: absolute;
  right: -100%;
  background-color: var(--scdt);
  list-style: none;
  top: 100%;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
  height: max-content;
}

nav ul.active {
  right: 0;
}

nav ul li {
  margin: 1rem;
}

nav ul li a {
  color: var(--bg);
}

nav .container ul li a:hover {
  color: var(--prm);
}

nav ul li::after {
  content: "";
  display: block;
  border-bottom: 2px solid var(--prm);
  transform: scaleX(0);
  transition: 0.2s;
}

nav ul li:hover::after {
  transform: scaleX(0.7);
  transition: 0.2s;
}

nav ul footer.footer-nav {
  font-size: 0.5rem;
  background-color: var(--bg);
  padding: 0.2rem;
  align-self: flex-start;
  width: 100%;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Main */
main {
  padding: 4rem 5% 1rem;
}

section#hero {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  background-color: rgba(0, 168, 160, 0.459);
  padding: 0.5rem;
}

section#hero h1 {
  color: var(--scd);
  font-size: 2.5rem;
  font-weight: 600;
}

section#hero h2 {
  font-size: 1.5rem;
  font-weight: 200;
}

section#hero h2 span {
  font-weight: 400;
}

section#hero img {
  margin: 1rem;
  width: 100%;
}

section#hero p {
  font-size: 1rem;
  font-weight: 300;
  margin-top: 1rem;
  text-align: center;
}

section#hero a.cta {
  font-size: 1.1rem;
  font-weight: 600;
  align-self: center;
  margin: 1rem;
  padding: 0.3rem 1rem;
  border-radius: 1rem;
  background-color: var(--scdt);
  color: var(--bg);
}

section#hero a.cta:hover {
  color: var(--prm);
  background-color: var(--scd);
}
