:root {
    --bg : rgb(255, 255, 255);
    --prm : rgb(0, 5, 31);
    --prmt : rgba(0, 5, 31, 0.5);
    --scd : rgb(0, 121, 190);
    --scdt : rgba(0, 121, 190, 0.5);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--prm);
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-wrap: wrap;
}

section {
    height: 100vh;
    width: 100%;
    padding: 0 7%;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 2rem;
    font-weight: 800;
}

h2 {
    font-size: 1.6rem;
    font-weight: 600;
}

h3 {
    font-size: 1.3rem;
    font-weight: 500;
}

p {
    font-size: 0.9rem;
    font-weight: 300;
    text-align: justify;
}

/* Hero Section */

section.hero {
    justify-content: center;
    padding-top: 5rem;
}

section.hero::after {
    content: '';
    display: block;
    border-bottom: 8px solid var(--scdt);
    transform: scaleX(0.7);
    margin-top: 3rem;
}

section.hero nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    top: 0;
    position: fixed;
    width: 86%;
    background-color: var(--bg);
}

section.hero nav a {
    margin: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

section.hero nav a svg {
    width: 1.5rem;
    transition: 0.3s;
}

section.hero nav a svg:hover {
    fill: var(--scd);
    scale: 1.3;
}

section.hero .text {
    justify-self: center;
}

section.hero .text span {
    color: var(--scd);
}

/* Photo section */
section.photo {
    justify-content: center;
}

section.photo img {
    margin-bottom: 4rem;
}

/* About me 1-- */
section.about1,
section.about2 {
    justify-content: center;
}

section.about1 h2 {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 5px solid var(--scd);
}

section.about1 span {
    color: var(--scd);
}

section.about2 span {
    color: var(--scd);
    font-size: 1.3rem;
}

/* Skill section */
section.skill {
    justify-content: center;
}

section.skill h2 {
    color: var(--scd);
    text-align: center;
}

section.skill .prog {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
    justify-content: space-evenly;
}

section.skill .prog a {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--scd);
    padding: 0.5rem;
    border-radius: 100%;
}

section.skill .prog a svg {
    width: 3rem;
    transition: 0.3s;
}

section.skill .prog a svg:hover {
    scale: 1.5;
    transition: 0.3s;
}

svg#python  {
    fill:#3776AB ;
}
svg#django  {
    fill: #092E20 ;
}
svg#html  {
    fill: #E34F26 ;
}
svg#css  {
    fill: #1572B6 ;
}
svg#js  {
    fill:#F7DF1E ;
    background-color: black;
}

/* Creation section */
section.creations {
    justify-content: center;
}

section.creations h3 {
    text-align: center;
}

section.creations  img {
    margin-top: 1rem;
}

/* Contact section */


section.contact {
    background-color: var(--prm);
    justify-content: center;
    position: relative;
}

section.contact h1 {
    color: var(--scd);
    text-align: center;
}

section.contact h1 span {
    color: var(--bg);
}

section.contact .socmed {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 3rem;
}

section.contact .socmed a {
    margin: 1rem;
    display: flex;
    align-items: center;
}

section.contact .socmed a svg {
    width: 3rem;
    fill: var(--bg);
    transition: 0.3s;
}

section.contact .socmed a svg:hover {
    scale: 1.5;
}

svg#fb:hover{
    fill: #1877F2;
    background-color: var(--bg);
    border-radius: 100%;
}
svg#gh:hover{
    fill: #181717;
    border-radius: 100%;
    background-color: var(--bg);
}
svg#ig:hover{
    fill: #E4405F;
}

svg#tg:hover{
    border-radius: 100%;
    fill: #26A5E4;
    background-color: var(--bg);
}
svg#wa:hover{
    fill: #25D366;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    padding: 3rem 1rem 1rem;
    bottom: 0;
}

footer p {
    color: var(--bg);
    font-size: 0.6rem;
}

@media (min-width:720px) {

    section.hero {
        justify-content: center;
    }
    
    section {
        width: 50%;
    }

    section.creations img {
        width: 70%;
    }

    section.creations {
        align-items: center;
    }

    section.contact {
        width: 100%;
    }

    section.contact .socmed {
        justify-content: space-between;
    }

}

@media (min-width:1080px) {
    html {
        font-size: 110%;
    }
}